---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary: darken(#69D1B6, 20%) !default; // Override
$primaryDark: #69D1B6;
$primaryDarkHover: lighten(#69D1B6, 20%);
$primaryAsBackground: darken($primary, 30%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "syntax-highlighting-dark";

/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(/fonts/karla-qkBbXvYC6trAT7RbLtyU5rZPoAU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(/fonts/karla-qkBbXvYC6trAT7RVLtyU5rZP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Karla", "San Francisco", "Helvetica", sans-serif;
  font-size: 1.05em;
  color: #111;
  text-align: center;
}

header, article, footer {
  text-align: left;
  margin: 0 auto;
  max-width: 950px !important;
}

@media screen and (min-width: 950px) {
  header, article, footer {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

header {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  text-align: center;
  padding: 0.9em 0em 1.2em;

  h1 {
    margin: 0em;
    font-size: 2.3em;
    font-weight: normal;
    padding-bottom: 0.1em;

    a:hover {
      font-style: italic;
      color: $primary;
    }
  }

  h2 {
    margin: 0em;
    font-size: 1em;
    color: #888;
    font-weight: normal;
  }
}

footer {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  padding: 1.4em 0em;

  p { margin: 0em; }
}

article {
  margin: 1em 0em;
}

h1 {
  font-size: 2.1em;
} h2 {
  font-size: 1.7em;
} h3 {
  font-size: 1.4em;
} h4 {
  font-size: 1.1em;
}

table {
  margin: 1em 0px;

  th {
    background: #ddd;
  }

  th, td {
    border: 1px solid #333;
    padding: 4px 10px;
    vertical-align: top;

    ol {
      margin-bottom: 0px;
    }
  }

  td.green {
    background-color: #8efa93;
  }

  td.light-green {
    background-color: #e7fae8;
  }
}

.soft {
  opacity: 0.7;
}

ul {
  list-style-type: "– ";
  padding-left: 1.1em;
}

.with-placeholders {
  line-height: 2em;
  .placeholder {
    border: 1px solid rgb(196, 212, 241);
    border-radius: 1em;
    background: rgb(233, 239, 250);
    margin: 2px 2px;
    padding: 2px 5px;
  }
}

pre {
  font-size: 0.85rem;
  line-height: 1.5em;
  padding: 9.5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;

  code {
    white-space: pre-wrap;
  }
}

li .highlighter-rouge {
  font-size: 0.6em;
  display: inline-block;
  color: #444;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 0.15em 0.6em;
  margin-left: 0.3em;
  border-radius: 0.5em;
  vertical-align: 2px;
}

#markdown-toc {
  font-weight: bold;
  font-size: 0.9em;
  display: inline-block;
  padding: 0.2em;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fafafa;
  list-style-type: none;
  color: #999;
  margin: 0.5em 0em 1em;

  code {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
    padding: inherit;
    display: inherit;
    margin: inherit;
    vertical-align: inherit;
  }
}

.home-links-group {
  column-count: 3;
  margin-bottom: 1em;
}

#compact-toc {
  #markdown-toc {
    li:before { content: "" };

    li {
      display: inline-block;
      padding: 0em 0.4em;

      ul {
        display: none;
      }
    }
  }
}

.table-notes {
  ul {
    margin: 0em;
    padding-left: 1em;
  }

  code {
    color: #333;
    font-weight: bold;
    font-size: 90%;
  }

  font-size: 90%;
  background-color: #f2f2f2;
  color: #222;
}

@media screen and (min-width: 767px) {
  .nowrap {
    white-space: nowrap;
  }
}

// TODO: Refactor this later
@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: white;
  }

  a {
    color: $primaryDark;
  }

  a:hover {
    color: $primaryDarkHover;
  }

  .header {
    h1 {
      a:hover {
        color: $primaryDark;
      }
    }

    h2 {
      color: #ccc;
    }
  }

  #markdown-toc {
    background: #333;
    border: 1px solid #999;
  }

  table th {
    background: #333;
  }

  table th, table td {
    border: 1px solid #999;
  }

  pre {
    background-color: #333;
    border: 1px solid #ccc;
    color: white;
  }

  .with-placeholders {
    .placeholder {
      border: 1px solid #999;
      background: #666;
    }
  }

  table {
    td.green {
      background-color: #0d8321;
    }

    td.light-green {
      background-color: #0d4d14;
    }
  }

  .color-preview {
    border: 1px solid #222 !important;
  }

  li .highlighter-rouge {
    color: #ddd;
    background-color: #555;
  }

  .alert.alert-primary {
    background: $primaryAsBackground;
    color: white;
  }

  .table-notes {
    code {
      color: #ddd;
      font-weight: bold;
      font-size: 90%;
    }

    font-size: 90%;
    background-color: #333;
    color: #f2f2f2;
  }
}

.beta {
  font-weight: bold;
  display: inline-block;
  padding: 0px 2px;
  color: #cc9300;
}
