<script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
<noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>

<!-- Default Statcounter code for Swiftly.dev
https://swiftly.dev/ -->
<script type="text/javascript">
var sc_project=12126086; 
var sc_invisible=1; 
var sc_security="55853db9"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12126086/0/55853db9/1/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->