</article>

<footer class="container">
  <div class="alert alert-primary" style="font-weight: bold;">
    <div style="font-size: 1.5em; line-height: 1em; float: left">🥳&nbsp;&nbsp;</div>Swiftly launched this week! Read the announcement <a href="https://ebelinski.com/swiftly-announcement/">here</a>.
  </div>
  <p>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="https://iosref.com/">iOS Ref</a> |
    Created and maintained by <a href="https://twitter.com/EugeneBelinski">Eugene 👨🏻‍💻</a>
  </p>
</footer>
